
field{
	background: url(field.jpg);
	width: 600px;
	height: 300px;
	display: block;
}

field player, field referee{
	width: 25px;
	height: 25px;
	border: 1px solid yellow;
	border-radius: 50%;
	text-align: center;
	color: white;
	position: fixed;
	margin-top: -12px; 
}

field referee{
	background: yellow;
	top: 200px;
	left: 300px;
	color: black;
}

field player {
	width: 20px;
	border: none;
	border-radius: 0;
	background-color: none;
}

field player:hover{
	width: 30px;
	height: 30px
}

field team#red-team player{
	background: url(red-player.png);
	background-size: cover;
}

field team#blue-team player{
	background: url(blue-player.png);
	background-size: cover;
}

ball {
	width: 25px;
	height: 25px;
	border: 1px solid black;
	border-radius: 50%;
	text-align: center;
	color: black;
	position: fixed;
}

ball {
	top: 140px;
	left: 300px;
	color: white;
}

ball:hover{
 	width:40px;
 	height:40px;
}

ball{
 	background: url(ball.png);
 	background-size: cover;
 }


#player1-red{
	top: 150px;
	left: 50px;
}


#player2-red{
	top: 50px;
	left:170px;
}

#player3-red{
	top: 150px;
	left: 170px;
}

#player4-red{
	top: 250px;
	left: 170px;
}

#player5-red{
	top: 160px;
	left: 250px;
}


#player1-blue{
	top: 150px;
	left:540px;
}


#player2-blue{
	top: 50px;
	left: 440px;
}

#player3-blue{
	top: 150px;
	left: 440px;
}

#player4-blue{
	top: 250px;
	left: 440px;
}

#player5-blue{
	top: 160px;
	left: 360px;
}

